{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
            <p>{{ article.titre }}</p>
            <p>{{ article.chapo }}</p>
            <p>{{ article.date_modification }}</p>
            <p>{{ article.contenu }}</p>
            <p>Rédigé par {{ article.auteur }} le {{ article.date_creation }}</p>
            <a href="article/modifier?id={{ article.id }}">Modifier l'article</a>
            <a href="article/delete?id={{ article.id }}">Supprimmer l'article</a>
    </div>
    <hr/>
        {% for commentaire in commentaires %}
            <fieldset class="container">
                <legend>{{ commentaire.auteur }} le {{ commentaire.date_creation }}</legend>
                    <p>{{ commentaire.contenu }}</p>
            </fieldset>
    	{% endfor %}
    <hr/>
    <h4 class="container">Laissez un commentaire</h4>
    <div class="container">
        <form method="post" action="">
            <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="auteur">Nom d'auteur</label>
                            <input type="text" name="auteur" id="auteur" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="contenu">Message</label>
                            <textarea id="contenu" name="contenu" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Poster</button>
        </form>
    </div>
    <hr />
{% endblock %}

{% block title %} MBBlog {% endblock %}