{% extends 'layout.html.twig' %}

{% block body %}
    <fieldset>
        <legend>{{ article.titre }}</legend>
            <p>{{ article.chapo }}</p>
            <p>{{ article.date_modification }}</p>
            <p>{{ article.contenu }}</p>
            <p>Rédigé par {{ article.auteur }} le {{ article.date_creation }}</p>
    </fieldset>
    <a href="article/modifier?id={{ article.id }}">Modifier l'article</a>
    	<hr />
    {% for commentaire in commentaires %}
		<p>{{ commentaire.auteur }}</p>
		<p>{{ commentaire.contenu }}</p>
		<p>{{ commentaire.date_creation }}</p>
	{% endfor %}

{% endblock %}

{% block title %} MBBlog {% endblock %}