{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
            <h3>{{ article.titre }}</h3>
            <p>{{ article.chapo }}</p>
            <p>{{ article.contenu }}</p>
            <p>Rédigé par <strong>{{ article.auteur }}</strong></p>
            <p>Date de publication : <strong>{{ article.date_creation }}</strong></p>
                {% if article.date_modification %}
                    <p>Cet article a été modifié le <strong>{{ article.date_modification}}</strong></p>
                {% endif %}
            <div>
                <a href="article/modifier/?id={{ article.id }}">Modifier l'article</a>
                <a href="article/delete/?id={{ article.id }}">Supprimmer l'article</a>
            </div>
    </div>
    <hr/>
    <div class="container">
        <h3>Commentaires</h3>
        <hr />
        {% for commentaire in commentaires %}
                <h5>{{ commentaire.auteur }} le {{ commentaire.date_creation }}</h5>
                    <p>{{ commentaire.contenu }}</p><br />
    	{% endfor %}
    </div>
    <hr/>
    <h4 class="container">Laissez un commentaire</h4>
    <div class="container">
        <form method="post" action="">
            <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="auteur">Nom d'auteur</label>
                            <input type="text" name="auteur" id="auteur" />
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="contenu">Message</label>
                            <textarea id="contenu" name="contenu" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Poster</button>
        </form>
    </div>
    <hr />
{% endblock %}

{% block title %} MBBlog {% endblock %}